<?xml version="1.0"?>
<ruleset name="Custom Standard" namespace="MyProject\CS\Standard">
    <description>Package Template</description>

    <file>src/</file>
    <file>tests/</file>

    <arg name="extensions" value="php" />
    <arg name="report" value="full"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="PSR12"/>

    <rule ref="Generic.Arrays.ArrayIndent" />
    <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter" />
    <rule ref="Generic.Strings.UnnecessaryStringConcat" />
    <rule ref="Generic.Formatting.SpaceAfterNot" />

    <rule ref="Squiz.ControlStructures.ControlSignature">
        <properties>
            <property name="requiredSpacesBeforeColon" value="0" />
        </properties>
    </rule>
</ruleset>
